html,body {
    padding:0;
    margin:0;
    font-family: Times, "Times New Roman", serif;
}

.centered_text{
    text-align: center;
}

.aesthetic{
    letter-spacing: 8px;
}

div.absolute img{
    position: absolute;
    bottom: 0px;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

div.tallboye img{
    height: 100%;
    width: 100%;
    overflow: hidden
}

div.centered img{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

div.centered video{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.nav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align:center;
  font-size: 10pt;
}

.nav ul{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}

.nav a{
  display:inline-block;
  padding:10px;
  text-decoration: none;
}

.boringlist{
  list-style-type: none;
  font-size: 10pt;
}

.boringlist a{
  display:inline-block;
  padding:10px;
  text-decoration: none;
}

.yotsuba h1, h2, h3, h4, h5{
    color: #AF0A0F;
}

.yotsuba {
    background-color: #D5DAF0;
    color: black;
}

.yotsuba p{
  color: black;
}

.yotsuba a, .button {
  color: #34345C;
  text-decoration: none;
}

.yotsuba  a:hover, a:hover, .button:hover {
  color: #DD0000;
}

.tricklink a:hover{
  display: none;
}

/*body {
    background-image: url("/web/20190616111228im_/https://honk.moe/images/chenrun.gif");
    background-repeat: repeat;
}*/

/*
     FILE ARCHIVED ON 11:12:28 Jun 16, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:31:43 Jan 20, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 143.47
  exclusion.robots: 0.144
  exclusion.robots.policy: 0.13
  cdx.remote: 0.105
  esindex: 0.015
  LoadShardBlock: 111.342 (3)
  PetaboxLoader3.resolve: 105.19 (3)
  PetaboxLoader3.datanode: 79.038 (5)
  CDXLines.iter: 19.699 (3)
  load_resource: 119.571 (2)
*/